automated inbox (1).json
{
  "name": "automated inbox",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2368,
        160
      ],
      "id": "4f6c9b13-9988-49bc-a377-c1c67daeae9c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ip9bb4RHP0gpkcCp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2048,
        416
      ],
      "id": "b2779898-acf2-4293-92d9-2178ff3bc429",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "D8fmUO8hOl1bk7Il",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1664,
        -144
      ],
      "id": "0d1af6a5-1957-4ba0-9294-3fb10a07ae70",
      "name": "label=important",
      "webhookId": "7937b58e-8c42-4aca-bb61-6751c0932c48",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ip9bb4RHP0gpkcCp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1664,
        160
      ],
      "id": "5aa59947-54a7-4c42-bbf3-83da8eb5de4c",
      "name": "label=social media",
      "webhookId": "7937b58e-8c42-4aca-bb61-6751c0932c48",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ip9bb4RHP0gpkcCp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1648,
        512
      ],
      "id": "f53cc229-c337-4208-a600-b5b8f8d785d2",
      "name": "label=prommotionls",
      "webhookId": "7937b58e-8c42-4aca-bb61-6751c0932c48",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ip9bb4RHP0gpkcCp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "important",
              "description": "emailsrelated to my accounts and billing information are aimportant emails."
            },
            {
              "category": "promotions",
              "description": "emails that promote thier products and services are are promotioal emails."
            },
            {
              "category": "spam",
              "description": "emails that use to fraud or try to get my personal data"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -2112,
        144
      ],
      "id": "57cda102-f895-4dbb-9189-77e8cdcb1ec8",
      "name": "EMAIL Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=#overview\n-you are an ai agent that answer users emails based on thier questions and help them to clear thier confusion.\n\n#tools\n-use gmail draft tool do draft emails after writing the emails.\n\n#rules\n\n-keep email simple and human freindly and use clear and consize language"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1360,
        -144
      ],
      "id": "192ebe2d-30d3-433d-961c-55eba506f7b7",
      "name": "Important email handler"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "#overview\n-you are an ai agent that answer users emails based on thier questions and help them to clear thier confusion.\n\n#tools\n-use gmail draft tool do draft emails after writing the emails.\n\n#rules\n\n-keep email simple and human freindly and use clear and consize language"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1360,
        160
      ],
      "id": "36382b88-2009-40df-b670-0ac8978f174a",
      "name": "social email manager"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "#overview\n-you are an ai agent that answer users emails based on thier questions and help them to clear thier confusion.\n\n#tools\n-use gmail draft tool do draft emails after writing the emails.\n\n#rules\n\n-keep email simple and human freindly and use clear and consize language"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1344,
        512
      ],
      "id": "4e3b8079-d404-4f95-a850-3e1495043f73",
      "name": "promotional email manager"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.headers.from }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -800,
        288
      ],
      "id": "87ca1b38-90f5-4eda-8ca2-0c3b115a9058",
      "name": "Create draft emails",
      "webhookId": "d16e9c26-e9a2-4d9e-bf3d-e8ce83de5e8b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ip9bb4RHP0gpkcCp",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "EMAIL Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "EMAIL Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Important email handler",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "social email manager",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "promotional email manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "label=important": {
      "main": [
        [
          {
            "node": "Important email handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "label=social media": {
      "main": [
        [
          {
            "node": "social email manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "label=prommotionls": {
      "main": [
        [
          {
            "node": "promotional email manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMAIL Classifier": {
      "main": [
        [
          {
            "node": "label=important",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "label=social media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "label=prommotionls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create draft emails": {
      "ai_tool": [
        [
          {
            "node": "Important email handler",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "social email manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "promotional email manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e07cd1eb-d896-477e-938a-66bf681a1521",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bb703ac0e6c8af9734a818e95ab2f81fd609a9f13e687fe150bcec057a4b7c3"
  },
  "id": "ZNa8BiVDJPZ0F30N",
  "tags": []
}